.TituloContacto{
    color: black;
    font-size: 45px;
    font-family: montserrat black;
}
.div-icons2{
    display: flex;
    align-items:center;
    margin-bottom: 20px;
  }
.contactIcon{
    margin: 20px;
    font-size: 40px;
    color: black;
}

.header{
    background: linear-gradient(40deg, #7FB77E 0%, #B1D7B4 60%);
    height: 65px;
    width: 100%;
    overflow: hidden;
    align-items: center;
  }
.contactContainer{
    width: 70%;
    height: fit-content;
    padding: 20px;
    display: flex;
}
.CajaContactos{
    background-color: #7FB77E;
    width:fit-content;
    padding: 20px;
    flex-wrap: wrap;
    border-radius: 20px;
}
.CajaFormulario{
    background-color: #F7F6DC;
    width:fit-content;
    padding: 20px;
}
.inputContacto{
    padding-inline: 10px;
    background-color: none;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-bottom: 2px solid #7FB77E;
    color: gray;
    margin: 5px;
}
button{
    background: #7FB77E;
    padding: 10px;
    padding-inline: 40px;
    border: none;
    border-radius: 15px;
    margin-top: 6%;
    cursor: pointer;
}