.cajaTexto{
    border: 2px solid white;
}
.texto{
    margin: 10px;
}

.BorderFF00FF{border: 2px solid #FF00FF;}
.Border00FFFF{border: 2px solid #00FFFF;}
.Border06FF00{border: 2px solid #06FF00;}

.TextFF00FF{color: #FF00FF;}
.Text00FFFF{color: #00FFFF;}
.Text06FF00{color: #06FF00;}
